<main>
    <h1 class="text-center text-uppercase">Hello world Start</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий<span class="display-5">текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary (Основна кнопка)</span>
    </button>

    <hr>

    <p class="text-success">My text</p>

    <hr>

    <button class="btn btn-outline-primary">Додати</button>

    <hr>

    <button class="btn btn-outline-primary btn-lg">Редагувати</button>
    <button class="btn btn-outline-primary btn-sm">Редагувати</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
    <main>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="#" class="nav-link activ">Main</a>
                    </div>
                    <div class="nav-item">
                        <a herf="#" class="nav-link disabled">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Shop list</a>
                    </div>
                </div>
            </div>

            <div class="col-5 pe-5">
                <div class="card">
                    <div class="pt-4 pb-3 px-4">
                        <div class="nav flex-column">
                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="/summary" class="nav-link">Home</a>
                                </div>
                            </div>

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a herf="#" class="nav-link disabled">Bootstrep</a>
                                </div>
                            </div>

                            <div class="nav-item mb-2">
                                <div class="card">
                                    <a href="/skills" class="nav-link">FAQ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <ol class="beadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">PC and Nootbook</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Macbook</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <h6>Hello world! <span class="badge text-bg-primary rounded-pill text-uppercase">New</span></h6>
                        <button class="btn btn-primary rounded-pill">Click me</button>
                        <div class="alert alert-primary">
                            This is important info
                            <div class="mb-5">Hi</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1><i class="bi bi-airplane-engines"></i></h1>
        </div>
        <div>
            <button class="btn btn-warning">
                <h1><i class="bi bi-airplane-engines"></i></h1>
            </button>
        </div>
        <div>
            <h1><i class="fa-brands fa-slack fa-beat" style="color: #2fdf0c;"></i></h1>
        </div>
        <div>
            <svg width="50px" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                    d="M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z" />
            </svg>
        </div>
        <div>
            <img src="/svg/slack.svg">
        </div>
    </main>
</main>