{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-6">
                <h1>Yuliya Akhmet</h1>
            </div>
            <div class="col-6 text-muted text-end">
                <h1>Resume project</h1>
            </div>
        </div>
    </div>
    <div>
        <h2>List of the pages</h2>
        <div>This is my first Pet Project</div>
    </div>
    <div class="alert alert-success mt-4" role="alert">
        <div class="row">
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/summary" class="nav-link">Summary</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/skills" class="nav-link">Skills</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/education" class="nav-link">Education</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/work" class="nav-link">Work</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/person" class="nav-link">Person</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/bio" class="nav-link">Bio</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/program" class="nav-link">Program</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/web" class="nav-link">Web</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/js" class="nav-link">Js</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/car" class="nav-link">Car</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/mac" class="nav-link">Mac</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/facebook" class="nav-link">Facebook</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/task21" class="nav-link">Task21</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/task22" class="nav-link">Task22</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/task31" class="nav-link">Task31</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shophome" class="nav-link">Shophome</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shoporder" class="nav-link">Shoporder</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shopcart" class="nav-link">Shopcart</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/bootstrap" class="nav-link">Bootstrap</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shopprofile" class="nav-link">Shopprofile</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shopreview" class="nav-link">Shopreview</a>
                </button>
            </div>
            <div class="col-2 m-1">
                <button type="button" class="btn btn-success">
                    <a href="/shopcatalog" class="nav-link">Shopcatalog</a>
                </button>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>